<p id="notice"><%= notice %></p>
<h1 id="title">Tasks</h1>

<menu>
      <nav>
      <% if user_signed_in? %>
        <%= link_to '自分への割り当て', "/tasks?assignee_id=#{current_user.id}" %>
      <% end %>
      <%= form_with(url: 'tasks#index', method: "get", local: true) do |form| %>
        <%= select_tag 'order_by', options_for_select([['作成日', 'created_at'], ['期限日', 'due_date_at']], { :selected => params[:order_by] }), {include_blank: '並べ替え'} %>
        <%= select_tag 'assignee_id', options_for_select(User.pluck(:username, :id), { :selected => params[:assignee_id] }), {include_blank: '担当者を選択'} %>
        <%= select_tag 'user_id', options_for_select(User.pluck(:username, :id), { :selected => params[:user_id] }), {include_blank: '登録者を選択'} %>
        <%= select_tag 'due_date_at', options_for_select(Task.pluck(:due_date_at).uniq, { :selected => params[:due_date_at] }), {include_blank: '期限日を選択'} %>
        <%= form.submit "実行" %>
      <% end %>
      </nav>
</menu>

<table>
  <thead>
    <tr>
      <th>　　</th>
      <th>タスク名</th>
      <th>内容</th>
      <th>画像</th>
      <th>期限日</th>
      <th>担当者</th>
      <th>登録者</th>
      <th>登録日時</th>
      <th>更新日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task">
        <td class="checkbox" id=<%= task.id %>>
          <% if task.done? %>
            <%= check_box :status, :undone, {:checked => "checked"}  %>
          <% else %> 
            <%= check_box :status, :done, {}  %>
          <% end %>
        </td>
        <td id="task-name">
          <div id="task_<%= task.id %>_status" class=<%= "done-task-name" if task.done? %>><%= task.name %></div>
        </td>
        <td><%= task.content %></td>
        <td><% if task.image.attached? %>
              <%= image_tag task.image.variant(resize: "64x64").processed %>
            <% else %>
              <%= image_tag task.default_image, size:'64x64' %>
            <% end %>
        </td>
        <td><%= task.due_date_at %></td>
        <td><%= task.assignee.username %></td>
        <td><%= task.user.username %></td>
        <td><%= simple_time(task[:created_at]) %></td>
        <td><%= simple_time(task[:updated_at]) %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>

<script type="text/javascript">
 $('.checkbox').on('click', function(){
    const id =  $(this).attr("id");
    $.ajax({
      type: "PATCH",
      url: "/tasks/" + id + "/toggle_status",
      contentType: "application/json",
      dataType: "json"
    }).done(function(data, textStatus, jqXHR){
      console.log(data)
      console.log(data.status)
      // console.log(data.id)
      const task_status_id = "#task_" + id + "_status"
      // const hoge = $('.task').find('.done-task-name').text();
      // console.log(hoge)
      if ($(task_status_id).hasClass("done-task-name")) {
        $(task_status_id).removeClass("done-task-name");
      } else {
        $(task_status_id).addClass("done-task-name");
      }
      
    }).fail(function(jqXHR, textStatus, errorThrown){
      // エラーの場合処理
    });
  });

</script>

