<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<% if @task.image.attached? %>
  <%= image_tag @task.image %>
<% end %>

<p>
  <strong>Due Date:</strong>
  <%= @task.due_date_at %>
</p>

<p>
  <strong>Assigned user:</strong>
  <%= @task.assignee.username %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user.username %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @task.updated_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
