<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<% if @task.image.attached? %>
  <%= image_tag @task.image %>
<% end %>

<p>
  <strong>期限日:</strong>
  <%= @task.due_date_at %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @task.assignee.username %>
</p>

<p>
  <strong>登録者:</strong>
  <%= @task.user.username %>
</p>

<p>
  <strong>作成日時:</strong>
  <%= simple_time(@task[:created_at]) %>
</p>

<p>
  <strong>更新日時:</strong>
  <%= simple_time(@task[:updated_at]) %>
</p>

<p>
  <strong>進捗:</strong>
  <%= link_to @task.status_i18n, task_toggle_status_path(@task), method: :patch %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
