<!DOCTYPE html>
<html>
  <head>
    <title>TerakoyaTodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="header">
      <p>
        <% if user_signed_in? %>
          <%= link_to 'Terakoya To-Do', tasks_path %>
        <% end %>
      </p>
      <ul class ="header-list">
        <% if user_signed_in? %>
          <strong><%= link_to current_user.username, "/user/#{current_user.id}" %></strong>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
